---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import Content from '~/components/widgets/Content.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';

import { Image } from 'astro:assets';
import myImage from "~/assets/images/Trans_logo_white.png";

const metadata = {
  title: 'KhanhTran Production',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {

        text: 'Instagram',
        href: 'https://www.instagram.com/khanhtranprod/',
        target: '_blank',
        icon: 'tabler:brand-instagram',
      },
      {
        variant: 'primary',
        text: 'Facebook',
        href: 'https://www.facebook.com/KhanhTranProd',
        target: '_blank',
        icon: 'tabler:brand-facebook',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    
    <Fragment slot="title">
      KHANHTRAN <span class = "text-red-700" >PROD</span>UCTION
      
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
         Tự hào là đơn vị cung cấp dịch vụ media chất lượng nhất đến cá nhân/doanh nghiệp
         </span>
  
    </Fragment>
  </Hero>


  <Content
    isReversed

    title="Dịch vụ"
    items={[
      {
        title: 'Cung cấp toàn bộ hình ảnh/video',
        description:
          '',
      },
      {
        title: 'Chỉnh sửa theo yêu cầu',
        description:
          '',
      },
      {
        title: 'Cung cấp phục trang theo yêu cầu',
        description:
          'Dịch vụ này sẽ được bao gồm sau thỏa thuận',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1727042713529-461ae3b9513f?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Kỉ yếu/Tốt nghiệp</h3>
      Ghi lại những kỉ niệm đáng nhớ nhất cho những bạn học sinh/sinh viên khi chuẩn bị bước sang một hành trình mới.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
  
    isAfterContent
    items={[
      {
        title: 'Cung cấp toàn bộ hình ảnh/video',
        description: ``,
      },
      {
        title: 'Cung cấp phục trang theo yêu cầu',
        description:
          '',
      },
      {
        title: 'In album/ảnh cổng/slide tiệc cưới',
        description:
          "",
      },
      {
        title: 'Cho thuê xe rước dâu theo thỏa thuận',
        description:
          '',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1727042534403-6ec97e6ba2cf?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Pre-wedding/Wedding</h3>
      Cùng đồng hành trên hành trình tiến đến hôn nhân
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Cung cấp toàn bộ hình ảnh/video',
        description:
          '',
      },
      {
        title: 'Video recap sự kiện',
        description:
          '',
      },
      
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1727042802930-7b0b83821784?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Astronauts Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sự kiện doanh nghiệp</h3>
    Cùng đồng hành trên hành trình tiến đến hôn nhân
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
  
    isAfterContent
    items={[
      {
        title: 'Cung cấp toàn bộ hình ảnh/video',
        description: ``,
      },
      {
        title: 'Video recap sự kiện',
        description:
          '',
      },
      {
        title: 'In album kỉ niệm',
        description:
          "",
      },
   
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1727043351988-8e6a4e1eba32?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sự kiện cá nhân</h3>
      Tiệc thôi nôi, tiệc sinh nhật,...
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Liên hệ ngay',
        href: 'https://www.facebook.com/KhanhTranProd',
        target: '_blank',
        icon: '',
      },
    ]}
  >


    <Fragment slot="subtitle">
      Hãy để KhanhTran Production đồng hành cùng quý khách 
    </Fragment>
  </CallToAction>
</Layout>
